@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300,400;600&display=swap');
:root {
    --primary-color: #4643d3;
    --primary-color-text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    background-color: #faefe3;
    font-family: 'Montserrat', sans-serif;
}

input {
    color: #AFAFBD;
    font-size: 15px;
    background: none;
}

.chat-box {
    width: 100%;
    max-width: 376px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    .chat-agent {
        display: flex;
        align-items: center;
        margin-bottom: 11px;
        .agent-image {
            flex-basis: 20%;
            max-width: 48px;
            max-height: 48px;
            border-radius: 50%;
            overflow: hidden;
            justify-content: space-between;
        }
        .agent-profile {
            flex-basis: 70%;
            padding-left: 16px;
        }
        span.designation {
            font-size: 14px;
            font-weight: 300;
        }
        h2.name {
            font-size: 18px;
            font-weight: 600;
        }
    }
    p span {
        width: 18px;
        height: 18px;
        display: inline-block;
        background: url(../images/hand.png);
    }
}

.chat-header {
    padding: 22px 32px;
    color: var(--primary-color-text);
    background-color: var(--primary-color);
}

.search-box {
    padding: 20px 30px;
    background-color: var(--primary-color-text);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    form {
        display: flex;
        justify-content: space-between;
    }
    input[type="search"] {
        border: 0;
        font-size: 15px;
    }
    button {
        border: 0;
        line-height: 18px;
        font-size: 15px;
        font-weight: 600;
        background: none;
        color: #5856D7;
        letter-spacing: 1px;
        cursor: pointer;
    }
}

.material-symbols-outlined {
    position: absolute;
    right: 30px;
    top: 20px;
}